.App {
  cursor: default;
  .hamburger-menu {
    background-color: #0e0e0e;
    width: 75%;
    height: 100%;
    position: fixed;
    left: -100%;
    transition: 0.4s;
    z-index: 9999;
  }
  .hamburger-menu.active {
    left: 0;
    transition: 0.4s;
  }
  .menu-avatar {
    width: 50px;
    height: 50px;
  }
  .to-top {
    position: fixed;
    bottom: 1.5rem;
    right: 1rem;
    z-index: 9999;
    border: #000 solid 1px;
    background: rgba(255, 255, 255, 0.5);
  }

  .home-background {
    background: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  }

  .portfolio-background {
    background: white;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  }

  .component {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    // home
    .home-container {
      max-width: 410px;
      .home-avatar {
        transition: 3s linear;
        border-radius: 60% 40% 50% 50% / 35% 45% 55% 65%;
        animation: go 30s infinite;
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.6s ease-out, transform 1s ease-out;
      }
      @keyframes go {
        0% {
          border-radius: 60% 40% 50% 50% / 35% 45% 55% 65%;
        }
        25% {
          border-radius: 45% 55% 37% 63% / 56% 36% 54% 44%;
        }
        50% {
          border-radius: 59% 41% 68% 32% / 48% 52% 48% 62%;
        }
        75% {
          border-radius: 50% 50% 39% 61% / 61% 69% 31% 39%;
        }
      }
      .animate-item {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
      }
      .animate-item.in-view {
        opacity: 1;
        transform: translateY(0);
      }
      .home-list li:not(:last-child) {
        border-right: 1px solid #cccccc;
      }
    }

    // about
    .about-container {
      .animate-item-left {
        opacity: 0;
        transform: translateX(-50px);
        transition: opacity 0.6s ease-out, transform 1s ease-out;
      }
      .animate-item-right {
        opacity: 0;
        transform: translateX(50px);
        transition: opacity 0.6s ease-out, transform 1s ease-out;
      }
      .in-view {
        opacity: 1;
        transform: translateX(0);
      }
    }
    .custom-border {
      border-bottom: 0.16rem dashed #cccccc;
    }

    // portfolio
    .portfolio-container {
      .arrow {
        z-index: 1;
      }
      .slider-img-container {
        position: relative;
        overflow: hidden;
        .slider-img {
          object-fit: cover;
          transition: transform 0.5s;
          width: 100%;
        }
        .slider-img:hover {
          transform: scale(1.1);
          // transition: 0.5s;
        }
      }
      .slick-next,
      .slick-prev {
        display: none !important;
      }
      .hover-black:hover {
        background-color: #202020;
        color: white !important;
        border-color: white !important;
        transition: 0.5s;
      }
      .custom-dots-container {
        width: 1rem;
        height: 1rem;
        .custom-dot {
          width: 0.5rem;
          height: 0.5rem;
        }
      }
      .slider-item {
        opacity: 0;
        transform: translateX(-50px);
        transition: opacity 0.6s ease-out, transform 1s ease-out;
      }
      .slider-item.in-view {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  // contact
  .contact-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  .contact-item.in-view {
    opacity: 1;
    transform: translateY(0);
  }
  .contact-icon-container {
    width: 55px;
    height: 55px;
  }
  .contact-icon {
    width: 25px;
    height: 25px;
  }

  .popup {
    position: fixed;
    z-index: 999;
    .about-line {
      height: 1px;
      width: 2.5rem;
    }
    .about-amount {
      font-size: 3rem;
    }
    .about-icon-container {
      position: absolute;
      left: -1.3rem;
      width: 40px;
      height: 40px;
    }
    .about-icon {
      width: 20px;
      height: 20px;
    }
    .about-date {
      font-size: 0.8rem;
    }
  }
}

.lock-scroll {
  overflow: hidden;
}
