$primary: #32495d;
$info: #f5f8fc;
$success: #99bfb2;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Poppins', sans-serif;
}
